*:before,
*:after {padding: 0;margin: 0;border: 0;box-sizing: border-box;}
::-webkit-scrollbar {width: 0;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
a {text-decoration: none;}ul,ol,
li {list-style: none;}
h1,h2,h3,h4,h5,h6 {margin: 0;}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0 12px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #5c81b8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4c6eae;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
